﻿<ion-view view-title="Conferences">
	<!-- navgiation buttons -->
	<ion-nav-buttons side="right">
		<a class="button white-text" id="headerButton" href="#/app/addConference">
        ADD
      </a>
	</ion-nav-buttons>
	<div class="tabs-striped tabs-top tabs-background-calm tabs-color-light">
		<div class="tabs">
			<a class="tab-item active" href="#/app/activeConferences">
        Active Conferences
      </a>
			<a class="tab-item" href="#/app/inactiveConferences">
        In active Conferences
      </a>

		</div>
	</div>
	<ion-content>
		<br><br>
		<div class="list">
			<a class="item item-avatar item-icon-left item-icon-right" href="#/app/dashboard" ng-repeat="item in active_conflist" ng-click="assign(item.details.conference_name)">
				<i class="icon ion-calendar"></i>

				<h2 class="list-title">{{item.details.conference_name }}</h2>
				<p>{{item.details.conference_fromDate}} - {{item.details.conference_toDate}}</p>
				<i class="icon ion-chevron-right"></i>
			</a>
		</div>
	</ion-content>
	<ion-footer-bar class="bar bar-footer" align-title="center">
		<h1 class="title" style="font-size:18px !important;">&copy; Miracle’s Software Systems</h1>
	</ion-footer-bar>
</ion-view>
