<ion-view view-title="Meetings">
	<!-- navgiation buttons -->
	<ion-nav-buttons side="right">
      <a class="button white-text" id="headerButton" href="#/app/addMeeting">
        ADD
      </a>

	</ion-nav-buttons>

	<div class="tabs-striped tabs-top tabs-background-calm tabs-color-light">
		<div class="tabs">
			<a class="tab-item active" href="#/app/activeMeetings">
        Active meetings
      </a>
			<a class="tab-item" href="#/app/inactiveMeetings">
        Inactive meetings
      </a>

		</div>
	</div>
	<ion-content>
		<br><br>
		<div class="list">
			<a class="item item-avatar item-icon-left item-icon-right" href="#/app/meetingdetails" ng-repeat="item in active_meetings">
				<i class="icon ion-calendar"></i>

				<h2 class="list-title">{{item.meeting_title }}</h2>
	{{item.meeting_date}}
	{{item.meeting_fromTime}} To {{item.meeting_toTime}}
				<i class="icon ion-chevron-right"></i>
			</a>
		</div>
	</ion-content>
	<ion-footer-bar class="bar bar-footer" align-title="center">
		<h1 class="title" style="font-size:18px !important;">&copy; Miracle’s Software Systems</h1>
	</ion-footer-bar>
</ion-view>
