<ion-view view-title="Add Session">
  
  <ion-content>

    <form name="mForm">
      <div class="list">
        <ion-list>
          <label class="item item-input item-stacked-label">
                      <span class="input-label">Title</span>
                      <input type="text" placeholder="Title" ng-model="params.session_title">
                  </label>
        
          <label class="item item-input item-stacked-label">
                      <span class="input-label">location</span>

                      <input type="text" placeholder="location" ng-model="params.session_location">
                  </label>

          <label class="item item-input item-stacked-label">
                      <span class="input-label">speaker</span>

                      <input type="text" placeholder="location" ng-model="params.session_speaker">
                  </label>

          <label class="item item-input item-stacked-label">
    <span class="input-label">date</span>
    <input type="date" ng-model="params.session_date">
  </label>
          </label>
          <label class="item item-input item-stacked-label">
                      <span class="input-label">Time</span>

                     <input type="time" value="00:00" ng-model="params.session_time">
                  </label>
		<label class="item item-input item-stacked-label">
			<span class="input-label">Notes</span>
			<textarea rows=4 ng-model="params.session_notes"></textarea>
		</label>
        
          <button class="button button-calm button-block" value="save" ng-click="add(params)">save</button>
        </ion-list>
      </div>
      <br>
  </ion-content>
  <ion-footer-bar class="bar bar-footer" align-title="center">
    <h1 class="title" style="font-size:18px !important;">&copy; Miracle’s Software Systems</h1>
  </ion-footer-bar>

</ion-view>
