
<ion-view view-title="Add Agenda">
<ion-nav-buttons side="right">
		<a class="button white-text" id="headerButton"  href="#/app/addEmployees" ng-click="addConferenceAgenda(params)" >
     Next <i class="icon ion-chevron-right"></i>
    </a>
    </ion-nav-buttons>
  <ion-content>
	
    
	<div class="list">
		<label class="item item-input item-stacked-label">
			<span class="input-label">Agenda</span>
			<textarea placeholder="Enter Description about conference" rows=7 ng-model="params.conferenceAgenda"></textarea>
		</label>
		
	</div>
	<br>

  </ion-content>
  <ion-footer-bar class="bar bar-footer" align-title="center">
		<h1 class="title" style="font-size:18px !important;">&copy; Miracle’s Software Systems</h1>
	</ion-footer-bar>
</ion-view>
