
<ion-view view-title="Add Conference">

	<ion-nav-buttons side="right">
	<a class="button white-text" id="headerButton" href="#/app/addAgenda" ng-click="addConferenceDetails(params)">
        Next <i class="icon ion-chevron-right"></i>
      </a>
    </ion-nav-buttons>
  <ion-content>

	<div class="list">
					<label>
				<div class="image-upload" value="upload" placeholder="Field" >

		<div class="image-modal" value="size">
        <img src="img/Account_profile_user-2-128.png" class="center"/>
    </div>
    <input id="file-input" type="file"/>
</div>
</label>
		<label class="item item-input item-stacked-label">
			<span class="input-label" >Name</span>
			<input type="text" placeholder="Enter conference name" ng-model="params.conferenceName">
		</label>

		<label class="item item-input item-stacked-label">
			<span class="input-label">Location</span>
			<textarea placeholder="Enter conference location" rows=4 ng-model="params.conference_Location"></textarea>
		</label>
		<label class="item item-input item-stacked-label">
			<span class="input-label">From Date</span>
			<input type="date" placeholder="mm/yy/dd" value="2/16/12" ng-model="params.conference_FromDate">
		</label>
		<label class="item item-input item-stacked-label">
			<span class="input-label">To Date</span>
			<input type="date" placeholder="mm/yy/dd" value="2/16/14" ng-model="params.conference_ToDate">
		</label>
		<label class="item item-input item-stacked-label">
			<span class="input-label">Description</span>
			<textarea placeholder="Enter Description about conference" rows=7 ng-model="params.conference_Description"></textarea>
		</label>

	</div>

	<br>
  </ion-content>
  <ion-footer-bar class="bar bar-footer" align-title="center">
    <h1 class="title" style="font-size:18px !important;">Powered By Miracle Innovation Labs</h1>
  </ion-footer-bar>
</ion-view>
