<ion-view view-title="Add Meeting">
  <ion-nav-buttons side="right">

    <a class="button white-text" id="headerButton" ng-click="addMeetingDetails(params)" href="#/app/addEmployees">
        Next <i class="icon ion-chevron-right"></i>
      </a>
  </ion-nav-buttons>
  <ion-content>

    <form name="mForm">
      <div class="list">
        <ion-list>
          <label class="item item-input item-stacked-label">
                      <span class="input-label">Title</span>
                      <input type="text" placeholder="Title" ng-model="params.meeting_title">
                  </label>
          <label class="item item-input item-stacked-label">
  				  <span class="input-label">purpose</span>
      <textarea placeholder="purpose" ng-model="params.meeting_purpose"></textarea>
    </label>
          <label class="item item-input item-stacked-label">
                      <span class="input-label">location</span>

                      <input type="text" placeholder="location" ng-model="params.meeting_location">
                  </label>


          <label class="item item-input item-stacked-label">
    <span class="input-label">date</span>
    <input type="date" ng-model="params.meeting_date">
  </label>
          </label>
          <label class="item item-input item-stacked-label">
                      <span class="input-label">Time</span>

                     <input type="time" value="00:00" ng-model="params.meeting_fromTime">
          </label>
          <label class="item item-input item-stacked-label">
                      <span class="input-label">Time</span>

                     <input type="time" value="00:00" ng-model="params.meeting_toTime">
          </label>
	<label class="item item-input item-stacked-label">
                      <span class="input-label">Status</span>

                      <input type="text" placeholder="status" ng-model="params.meeting_status">
                  </label>



          <!--button class="button button-calm button-block" value="save">save</button-->
        </ion-list>
      </div>
      <br>
  </ion-content>
  <ion-footer-bar class="bar bar-footer" align-title="center">
    <h1 class="title" style="font-size:18px !important;">&copy; Miracle’s Software Systems</h1>
  </ion-footer-bar>

</ion-view>
