<ion-view view-title="Speakers">
	
	<ion-nav-buttons side="right">
      <a class="button white-text" id="headerButton" href="#/app/speakers">
        Edit
      </a>
	</ion-nav-buttons>
	<ion-content>
	<h3>Speakers</h3>
    <p>Dr.Inspires ,IBM DAKSH</p>
	 <h3>Speakers</h3>
    <p>Dr. Sabine Hauert,Don Tapscott</p>
	 <h3>Speakers</h3>
    <p>Dr. Sabine Hauert,Don Tapscott</p>
	 </ion-content>
   <ion-footer-bar class="bar bar-footer" align-title="center">
		<h1 class="title" style="font-size:18px !important;">&copy; Miracle’s Software Systems</h1>
	</ion-footer-bar>
</ion-view>
