<ion-view view-title="{{ conferenceData.details.conference_name}}">
  <ion-nav-buttons side="right">
    <label class="toggle toggle-dark">
             <input type="checkbox" checked>
             <div class="track">
                 <div class="handle"></div>
             </div>
    </label>
  </ion-nav-buttons>
  <ion-content class="background">

    <div id="welcomeScreen" class="item item-text-wrap text-center">
      <h2>{{conferenceData.details.conference_location}}</h2><br>
      <p class="text-white"><i class="icon ion-calendar"></i>{{ conferenceData.details.conference_fromDate}} &nbsp;-&nbsp; <i class="icon ion-calendar"></i>{{ conferenceData.details.conference_toDate}}</p>
    </div>
    <div class="item item-text-wrap text-center">
      <h2 class="bold">Categories</h2>
    </div>
    <div class="item item-text-wrap text-center">
      <div class="row">
        <div class="col col-30">
          <a class="icon-circle" href="#/app/viewConferenceDetails">
            <i class="icon ion-calendar"></i>
          </a>
          <p class="dashboardItem"><a href="#/app/viewConferenceDetails" class="darkText">Conference<br> details</a></p>
        </div>
        <!--div class="col col-30">
          <a class="icon-circle" href="#/app/agenda">
            <i class="icon ion-calendar"></i>
          </a>
          <p class="dashboardItem"><a href="#/app/agenda" class="darkText">Conference Agenda</a></p>
        </div-->
        <div class="col col-30">
          <a class="icon-circle" href="#/app/confspeakers">
            <i class="icon ion-ios-book"></i>
          </a>
          <p class="dashboardItem"><a href="#/app/confspeakers" class="darkText">Conference<br> Speakers</a></p>
        </div>
		 <div class="col col-30">
          <a class="icon-circle" href="#/app/download punches">
            <i class="icon ion-archive"></i>
          </a>
          <p class="dashboardItem"><a href="#/app/downloadpunches" class='darkText'>Download punches</a></p>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col col-30">
          <a class="icon-circle" href="#/app/viewConferences">
            <i class="icon ion-archive"></i>
          </a>
          <p class="dashboardItem"><a href="#/app/viewConferences" class='darkText'>Download Content</a></p>
        </div>
        <div class="col col-30">
          <a class="icon-circle" href="#/app/activeMeetings">
            <i class="icon ion-edit"></i>
          </a>
          <p class="dashboardItem"><a href="#/app/activeMeetings" class="darkText">Manage Meetings</a></p>
        </div>
        <div class="col col-30">
          <a class="icon-circle" href="#/app/addEmployees">
            <i class="icon ion-ios-people"></i>
          </a>
          <p class="dashboardItem"><a href="#/app/addEmployees" class="darkText">Assign Employees</a></p>
        </div>
      </div>
      <br>
    </div>
  </ion-content>
  <ion-footer-bar class="bar bar-footer" align-title="center">
    <h1 class="title" style="font-size:18px !important;">Powered By Miracle Innovation Labs</h1>
  </ion-footer-bar>
</ion-view>
