 <ion-view view-title="Agenda">
	<!-- navgiation buttons -->
	<ion-nav-buttons side="right">
      <a class="button white-text" id="headerButton" href="#/app/editAgenda">
        Edit
      </a>
	</ion-nav-buttons>
	<ion-content>
	<h3>Agenda</h3>
    <h3>Morning</h3> 08am-08:30am :- Breakfast 08:40am-09:40am :- Opening cermony 09:45am-11:00am :-Keynote address 11:00am-12:30pm:- Presentation
    <h3>Afternoon</h3> 12:30pm-01:30pm :- Lunch 01:30pm-02:30pm :- Presentation 02:35pm-04:00pm :-Sales&Marketing 04:00pm-05:00pm :- Quality Assurance</p>
    </form>
    <h3>Assigned employees</h3>
    <p>John</p>
    <h3>Active/Inactive</h3>
    <p> This conference is currently active</p>
  </ion-content>
   <ion-footer-bar class="bar bar-footer" align-title="center">
		<h1 class="title" style="font-size:18px !important;">&copy; Miracle’s Software Systems</h1>
	</ion-footer-bar>
</ion-view>
