<ion-view view-title="Add employees">
<ion-header-bar align-title="left" class="bar-calm">
 <a href="#/addattendee" class="button button-icon icon icon ion-arrow-left-c"></a>
  <h1 class="title">Add employee</h1>
</ion-header-bar>
  <ion-content>

    <form name="myForm">
  <label class="item item-input">
      <i class="icon ion-search placeholder-icon"></i>
      <input type="text" placeholder="find">
    </label>
	
	
		<ul class="list">
<li class="item item-checkbox">
   John
   <label class="checkbox">
    
   <input type="checkbox">
  
   </label>
</li>

<li class="item item-checkbox">
   James
   <label class="checkbox">
   <input type="checkbox">
   </label>
</li>



</ul>
	<button class="button button-calm button-block" value="Add">Add</button>
    </form>
	
  </ion-content>
 <ion-footer-bar class="bar bar-footer" align-title="center">
		<h1 class="title" style="font-size:18px !important;">&copy; Miracle’s Software Systems</h1>
	</ion-footer-bar>
</ion-view>
