<ion-view view-title="Speakers">
	<ion-nav-buttons side="right">
      <a class="button white-text" id="headerButton" href="#/app/speakers">
        Add
      </a>
	</ion-nav-buttons>
	<ion-content>
<ion-item ng-repeat="item in speakers">
     <br>
	  Speakers:{{item.names }}
	  <br>
     
	 
      </ion-item>
	
	 </ion-content>
   <ion-footer-bar class="bar bar-footer" align-title="center">
		<h1 class="title" style="font-size:18px !important;">&copy; Miracle’s Software Systems</h1>
	</ion-footer-bar>
</ion-view>
