<ion-view>
<ion-header-bar class="bar-calm">
   <a href="#/session1" class="button button-icon icon icon ion-arrow-left-c"></a>
  <h1 class="title"><center>Edit Session</h1>
  
</ion-header-bar>
  <ion-content class="padding">
<form name="sForm">   
	 
		<div class="list">
            <ion-list>
                 <label class="item item-input item-stacked-label">
                    <span class="input-label">Title</span>
		
                    <input type="text" placeholder="Title">
                </label>
				<label class="item item-input item-stacked-label">
                    <span class="input-label">Location</span>
		
                    <input type="text" placeholder="Location">
                </label>

		<label class="item item-input item-stacked-label">
                    <span class="input-label">Speaker</span>
		
                    <input type="text" placeholder="speaker">
                </label>

			
		
   <label class="item item-input item-stacked-label">
                    <span class="input-label">Time</span>
		
                   <input type="time" name="usr_time">
                </label>
					  <label class="item item-input item-stacked-label">
  <span class="input-label">Date</span>
   <input type="date">
</label>
		<label class="item item-input item-stacked-label">
				  <span class="input-label">Notes</span>
    <textarea placeholder="notes"></textarea>
  </label>	
			<button class="button button-calm button-block" value="save">save</button>
        </div>
    </ion-content>
	</form>

</ion-view>