<ion-view view-title="Edit conferences">
 
  <ion-content>

    <form name="mForm">
      <div class="list">
        <ion-list>
		 
          <label class="item item-input item-stacked-label">
                      <span class="input-label">Description</span>
                      <input type="text" placeholder="Title">
                  </label>
          <label class="item item-input item-stacked-label">
  				  <span class="input-label">Benifits</span>
      <textarea placeholder="purpose"></textarea>
    </label>
	<label class="item item-input item-stacked-label">
                      <span class="input-label">Speakers</span>
                      <input type="text" placeholder="Title">
                  </label>
          <label class="item item-input item-stacked-label">
                      <span class="input-label">location</span>

                      <input type="text" placeholder="location">
                  </label>


          <label class="item item-input item-stacked-label">
    <span class="input-label">From</span>
    <input type="date">
  </label>
  
          <label class="item item-input item-stacked-label">
    <span class="input-label">To</span>
    <input type="date">
  </label>
          
          <label class="item item-input item-stacked-label">
                      <span class="input-label">Time</span>

                     <input type="time" value="10:45">
                  </label>
       
          <button class="button button-calm button-block" value="save">save</button>
        </ion-list>
      </div>
      <br>
  </ion-content>
  <ion-footer-bar class="bar bar-footer" align-title="center">
		<h1 class="title" style="font-size:18px !important;">&copy; Miracle’s Software Systems</h1>
	</ion-footer-bar>
  

</ion-view>

