
<ion-view view-title="Add Agenda">

  <ion-content>

	<div class="list">
		<label class="item item-input item-stacked-label">
			<span class="input-label">Schedule</span>
			<input type="text" placeholder="enter schedule">
		</label>

		<label class="item item-input item-stacked-label">
			<span class="input-label">Location</span>
			<textarea placeholder="Enter conference location" rows=4></textarea>
		</label>
		<label class="item item-input item-stacked-label">
			<span class="input-label">From Time</span>
			<input type="Time" value="00:00">
		</label>
		<label class="item item-input item-stacked-label">
			<span class="input-label">To time</span>
			<input type="time" value="00:00">
		</label>
		<label class="item item-input item-stacked-label">
			<span class="input-label">Description</span>
			<textarea placeholder="Enter Description about conference" rows=7></textarea>
		</label>
		
	</div>
	<br>
  
  </ion-content>
  <ion-footer-bar class="bar bar-footer" align-title="center">
		<h1 class="title" style="font-size:18px !important;">&copy; Miracle’s Software Systems</h1>
	</ion-footer-bar>
</ion-view>
