
<ion-view view-title="Meetings">
	<!-- navgiation buttons -->
	
	
	<div class="tabs-striped tabs-top tabs-background-calm tabs-color-light">
		<div class="tabs">
			<a class="tab-item " href="#/app/activeMeetings">
        Active meetings
      </a>
			<a class="tab-item active" href="#/app/inactiveMeetings">
        Inactive meetings
      </a>

		</div>
	</div>
	<ion-content>
		<br><br>
		<div class="list">
			<a class="item item-avatar item-icon-left item-icon-right" href="#/app/meetingdetails" ng-repeat="item in inactive_meetings">
				<i class="icon ion-calendar"></i>

				<h2 class="list-title">{{item.title }}</h2>
	{{item.date}}  
	{{item.time}}
				<i class="icon ion-chevron-right"></i>
			</a>
		</div>
	</ion-content>
	<ion-footer-bar class="bar bar-footer" align-title="center">
		<h1 class="title" style="font-size:18px !important;">&copy; Miracle’s Software Systems</h1>
	</ion-footer-bar>
</ion-view>
