
<ion-view view-title="Inactive Conferences">
	<!-- navgiation buttons -->

	<div class="tabs-striped tabs-top tabs-background-calm tabs-color-light">
    <div class="tabs">
      <a class="tab-item" href="#/app/activeConferences">
        Active Conferences
      </a>
      <a class="tab-item active" href="#/app/inactiveConferences">
        In active Conferences
      </a>

    </div>
  </div>
  <ion-content>

	<div class="list">
		<div href="#">
			<label class="item item-input">
				<i class="icon ion-search placeholder-icon"></i>
				<input type="text" placeholder="Search">
			</label>
		</div>

		<a class="item item-avatar item-icon-left item-icon-right" href="#/app/dashboard" ng-repeat="item in inactive_conflist">
			<i class="icon ion-calendar"></i>

			<h2 class="list-title">{{item.conference_name }}</h2>
			<p>{{item.conference_fromDate}} - {{item.conference_toDate}}</p>
			<i class="icon ion-chevron-right"></i>
		</a>

	</div>
	<br>

  </ion-content>
	<ion-footer-bar class="bar bar-footer" align-title="center">
		<h1 class="title" style="font-size:18px !important;">&copy; Miracle’s Software Systems</h1>
	</ion-footer-bar>
</ion-view>
