<ion-modal-view>
  <ion-view hide-nav-bar="true">
    <ion-content has-header="false" class="loginBackground">
      <form name="myForm" class="text-center text-white">
        <div>
          <br><br><br>
          <img src="img/logo.png" class="login-logo">
        </div>
        <div>
          <h1 class="text-white">MCon</h1> Mobile Conference
        </div>
        <br><br><br>
        <div class="container">
          <label class="item item-input background-transparent transparent-rounded-input white-border">
            <input type="text" placeholder="Enter Your Username" class="text-white onfocus">
          </label><br>
          <label class="item item-input background-transparent transparent-rounded-input white-border">
            <input type="text" class="onfocus" placeholder="Enter Your Password">
          </label>
          <br>
          <label class="item item-input background-transparent no-padding">
            <!--ion-list>
              <ion-checkbox class=" button button-calm roundedButtons text-light-blue login-buttons">Remember me </ion-checkbox>
            </ion-list>
            <button class="item button button-calm roundedButtons text-light-blue login-buttons left-margin">
              <a href='#/app/activeConferences' class="white-text">  Login</a>
            </button-->
          </label>
		  <a href="#/app/activeConferences" class="button  button-calm button-large ">Admin login</a>
      <a href=" #/app/userConferences" class="button  button-calm button-large ">User login</a>
	  </div>


      </form>


    </ion-content>
  </ion-view>
  <ion-footer-bar class="bar bar-footer" align-title="center">
    <h1 class="title" style="font-size:18px !important;">Powered By Miracle Innovation Labs</h1>
  </ion-footer-bar>
</ion-modal-view>
