
<ion-view view-title="Meeting">
	<!-- navgiation buttons -->
	<ion-nav-buttons side="right">
      <a class="button white-text" id="headerButton" href="#/app/addMeeting">
        Edit
      </a>
	</ion-nav-buttons>
	<ion-content>
 <ion-item>
     <br>
	 
	 Purpose:{{meeting_details.purpose }}
     <br>
	 Location:{{meeting_details.location}}  
	 <br>
	Date:{{meeting_details.date}}
	 <br>
	Time:{{meeting_details.time}}
	 
      </ion-item>
	</ion-content>
   
  <ion-footer-bar class="bar bar-footer" align-title="center">
		<h1 class="title" style="font-size:18px !important;">&copy; Miracle’s Software Systems</h1>
	</ion-footer-bar>
</ion-view>
