<ion-view title="Add attendee">
<ion-header-bar align-title="left" class="bar-calm">

 <h1 class="title"><center>Add Attendee</h1>
 
 </ion-header-bar>
<ion-content>
<form name="mForm">
  <div class="list">
            <ion-list>
			<label>
				<div class="image-upload" value="upload" placeholder="Field" >
				
<div class="image-modal" value="size">

        <img src="img/Account_profile_user-2-128.png" class="center"/>
    </div>
    <input id="file-input" type="file"/>
</div>	
</label>	
                 <label class="item item-input item-stacked-label">
                    <span class="input-label">Attendee name</span>
		
                    <input type="text" placeholder="name" ng-model="params.newattendee_name">
                </label>
				 <label class="item item-input item-stacked-label">
                    <span class="input-label">Attendee phone no</span>
		
                    <input type="text" placeholder="phone number" ng-model="params.newattendee_phoneno">
                </label>
				 <label class="item item-input item-stacked-label">
                    <span class="input-label">Company</span>
		
                    <input type="text" placeholder="Company" ng-model="params.newattendee_company">
                </label>
				 <label class="item item-input item-stacked-label">
                    <span class="input-label">Designation</span>
		
                    <input type="text" placeholder="Designation" ng-model="params.newattendee_designation">
                </label>
						
				</ion-list>	
        </div>
  <div class="list">
  <h3>Sale contact</h3>
            <ion-list>
			
                 
				 <label class="item item-input item-stacked-label">
                    <span class="input-label">Name</span>
					 <input type="text" placeholder="Name" ng-model="params.person_name">
                </label>
				<label class="item item-input item-stacked-label">
                    <span class="input-label">Field</span>
					 <input type="text" placeholder="Field" ng-model="params.person_field">
                </label>
				<label class="item item-input item-stacked-label">
                    <span class="input-label">Contact</span>
					 <input type="text" placeholder="Contact" ng-model="params.person_contact">
                </label>
			<button class="button button-calm button-block" value="save" ng-click="insertData(params)">save</button>
        
				</ion-list>	
        </div>
    </ion-content>
	</form>
</ion-view>