<ion-view>
<ion-header-bar align-title="left" class="bar-calm">
<a href="#/conf1" class="button button-icon icon icon ion-arrow-left-c"></a>
 <h1 class="title"><center>Notifications</h1>
 </ion-header-bar>
  <ion-content class="padding">
   <form name="myForm">
<div class="list">
    <a class="item item-thumbnail-left" href="#notification1">
       <img src="img/contact.png">
           <p>International Conference</p>
	  <p>You are added to International Conference which is going to be held on 12th feb</p>
	  <p>   Rsharma</p>
	  <p> 11:45</p>
    </a>
	 <a class="item item-thumbnail-left">
	<p>Even i was added for the same conference <button class="button button-calm button-small" value="save">reply</button></p>
	<p>Who others are added</p>
	</a>
	 <a class="item item-thumbnail-left">
	<p>Even i was added for the same conference <button class="button button-calm button-small" value="save">reply</button></p>
	<p>Who others are added</p>
	</a>
	 <a class="item item-thumbnail-left">
	<p>Even i was added for the same conference <button class="button button-calm button-small" value="save">reply</button></p>
	<p>Who others are added</p>
	</a>
	  <label class="item item-input item-stacked-label">
                      <span class="input-label">Comment</span>

                      <input type="text" placeholder="Write your comment">
                  </label>
				  <button class="button button-calm button-medium" value="save">send</button></p>
	</div>
	 </form>
  </ion-content>
 <ion-footer-bar class="bar bar-footer" align-title="center">
		<h1 class="title" style="font-size:18px !important;">&copy; Miracle’s Software Systems</h1>
	</ion-footer-bar>
</ion-view>