<ion-view view-title="Admin Menu">
  <ion-content class="background">

    <!-- conference management card -->
    <div class="card">
      <div class="text-center item item-divider">
        <h2>Conferences</h2>
      </div>
      <div class="item item-text-wrap">

        <div class="row text-center">
          <div class="col col-30">
            <i class="icon ion-calendar"></i>
            <p>Manage Conferences</p>
          </div>
          <div class="col col-30">
            <i class="icon ion-ios-people"></i>

            <p>Assign Employee</p>
          </div>
          <div class="col col-30">
            <i class="icon ion-toggle-filled"></i>
            <p>Active/Deactive Conferences</p>
          </div>

        </div>

      </div>
    </div>
    <!-- download management section -->
    <div class="card">
      <div class="text-center item item-divider">
        <h2>Downloads</h2>
      </div>
      <div class="item item-text-wrap">

        <div class="row text-center">
          <div class="col col-30">
            <i class="icon ion-ios-book"></i>
            <p>Download Notes</p>
          </div>
          <div class="col col-30">
            <i class="icon ion-archive"></i>

            <p>Download Punches</p>
          </div>
        </div>

      </div>
    </div>

    <!-- employee meeetings management section -->
    <div class="card">
      <div class="text-center item item-divider">
        <h2>Meetings</h2>
      </div>
      <div class="item item-text-wrap">


        <div class="row text-center">
          <div class="col col-30">
            <i class="icon ion-edit"></i>
            <p>Manage Meetings</p>
          </div>
          <div class="col col-30">
            <i class="icon ion-ios-people"></i>

            <p>Assign Employee</p>
          </div>
          <div class="col col-30">
            <i class="icon ion-toggle-filled"></i>
            <p>Active/Deactive Meetings</p>
          </div>

        </div>

      </div>
    </div>

  </ion-content>
</ion-view>
