<ion-view view-title="Admin Menu">

  <ion-content class="background">

	<div id="welcomeScreen" class="item item-text-wrap text-center">
		<h2>Admin Dashboard</h2>
	</div>
	<div class="item item-text-wrap text-center">
		<h2 class="bold">Categories</h2>
	</div>
	<div class="item item-text-wrap text-center">
		<div class="row">
			<div class = "col col-30">
						<a class="icon-circle">
							<i class="icon ion-calendar"></i>
						</a>
						<p><a href="#/app/browse" class="darkText">Manage Conferences</a></p>
			</div>
			<div class = "col col-30">
						<a class="icon-circle">
							<i class="icon ion-ios-people"></i>
						</a>
						<p class="darkText">Assign<br> Conferences</p>
			</div>
			<div class = "col col-30">
						<a class="icon-circle">
							<i class="icon ion-ios-book"></i>
						</a>
						<p class="darkText">Download <br>Notes</p>
			</div>
		</div>
		<br>
		<div class="row">
			<div class = "col col-30">
						<a class="icon-circle">
							<i class="icon ion-archive"></i>
						</a>
						<p class="darkText">Download Punches</p>
			</div>
			<div class = "col col-30">
						<a class="icon-circle">
							<i class="icon ion-edit"></i>
						</a>
						<p class="darkText">Manage Meetings</p>
			</div>
			<div class = "col col-30">
						<a class="icon-circle">
							<i class="icon ion-ios-people"></i>
						</a>
						<p class="darkText">Assign<br> Meetings</p>
			</div>
		</div>
	</div>
	</ion-content>
  <ion-footer-bar class="bar bar-footer" align-title="center">
    <h1 class="title" style="font-size:18px !important;">Powered By Miracle Innovation Labs</h1>
  </ion-footer-bar>
</ion-view>
