<ion-view view-title="session ">
<!--ion-header-bar align-title="left" class="bar-calm"-->
<ion-nav-buttons side="right">
      <a class="button white-text" id="headerButton" href="#/app/editsessions">
        Edit
      </a>
	</ion-nav-buttons>
 </ion-header-bar>
  <ion-content>
 <ion-item>
     <br>
	
	 
      </ion-item>
 <label class="item item-input item-stacked-label">
                    <span class="input-label">Comments</span>
					 <input type="text" placeholder="Comments">
                </label>
				<button class="button button-calm button-block" value="save">send</button>
				<button class="button button-calm button-block" value="save">reply</button>
    </form>
  </ion-content>

</ion-view>
