<ion-view view-title="session">
<ion-header-bar align-title="left" class="bar-calm">
 <a href="#/sessions" class="button button-icon icon icon ion-arrow-left-c"></a>
   
 
</ion-header-bar>
  <ion-content>

    <form name="myForm">
	<h2><center>International</h2>
	
	<h2>Location</h2>
      <p>10777 Santa Monica Boulevard,Los Angeles, California 90025-4718, United States of America</p>
	  <h2>Speaker</h2>
      <p>Dr. Sabine Hauert,Don Tapscott</p>
	  <h2>Date</h2>
      <p>12/02/2017</p>
	  <h2>Time</h2>
      <p>12:30</p>
	<h3>Chatbots:</h3>


<p>a chatter robot is a type of conversational agent, a computer program designed to simulate an intelligent conversation with one or more human users via auditory or textual methods.<p>

    </form>
  </ion-content>

</ion-view>
