<ion-view title="Sessions">
<ion-header-bar class="bar-calm">

  
</ion-header-bar>
<ion-content>
<!--form name="myForm">
 			  <div class="list">

    <a class="item item-avatar" href="#/app/session1">
      <img src="img/1.png">
      <h2>International</h2>
      <p>This includes details of the session 1</p>
    </a>

  <a class="item item-avatar" href="#/session2">
      <img src="img/6.png">
      <h2>National level</h2>
      <p>This includes details of the session2</p>
    </a>



</div>


    </form-->

	
	</ion-content>
 <ion-footer-bar class="bar bar-footer" align-title="center">
		<h1 class="title" style="font-size:18px !important;">&copy; Miracle’s Software Systems</h1>
	</ion-footer-bar>	
</ion-view>