<ion-view view-title="Add Speakers">
<ion-nav-buttons side="right">


    </ion-nav-buttons>
  <ion-content>
		<a class="button white-text" id="headerButton" ng-click="addConferenceSpeakers(params)" href="#/app/addEmployees">
 			Next <i class="icon ion-chevron-right"></i>
 		</a>
	<div class="list">
		<label class="item item-input item-stacked-label">
			<span class="input-label">Speaker Name</span>
			<input type="text" placeholder="Enter Speaker name" ng-model="params.speaker_name">
		</label>
		</div>

  </ion-content>
  <ion-footer-bar class="bar bar-footer" align-title="center">
		<h1 class="title" style="font-size:18px !important;">&copy; Miracle’s Software Systems</h1>
	</ion-footer-bar>
</ion-view>
