<ion-view view-title="Add Speakers">

  <ion-content>
<div class="col-sm-10">

 <button type="button" ng-click="showPopup()" >Add speaker</button>

<br>
{{result1.speakername}}
<br>
{{result1.designation}}
</div>
  </ion-content>
  <ion-footer-bar class="bar bar-footer" align-title="center">
		<h1 class="title" style="font-size:18px !important;">&copy; Miracle’s Software Systems</h1>
	</ion-footer-bar>
</ion-view>