<ion-view view-title="Sessions">
	<!-- navgiation buttons -->
	
	<div class="tabs-striped tabs-top tabs-background-calm tabs-color-light">
		<div class="tabs">
			<a class="tab-item " href="#/app/usersessions">
        user sessions
      </a>
			<a class="tab-item active" href="#/app/teamsessions">
       team sessions
      </a>

		</div>
	</div>
	<ion-content>
	
		<<br><br>
		<div class="list">
			<a class="item item-icon-left item-icon-right" href="#/app/session3" ng-repeat="item in team_sessions.rows">
				<i class="icon ion-calendar"></i>

				<h2 class="list-title">{{item.doc.name }}</h2>
	{{item.doc.date}}  
	by {{item.doc.writer}} 
				<i class="icon ion-chevron-right"></i>
			</a>
		</div>
	</ion-content>
	<ion-footer-bar class="bar bar-footer" align-title="center">
		<h1 class="title" style="font-size:18px !important;">&copy; Miracle’s Software Systems</h1>
	</ion-footer-bar>
</ion-view>
