<ion-view title="Tour Sessions">
<ion-header-bar class="bar-calm">
  
  <a href="#/usersessions" class="button button-icon icon icon ion-arrow-left-c"></a>
  
</ion-header-bar>
<ion-content>
<form name="myForm">
  
	
		  <div class="list">

    <a class="item item-avatar" href="#/app/session4">
      <img src="img/1.png">
      <h2>International</h2>
      <p>This includes details of the session 4</p>
    </a>

  <a class="item item-avatar" href="#/session2">
      <img src="img/6.png">
      <h2>National level</h2>
      <p>This includes details of the session4</p>
    </a>



</div>


    </form>
	
	<!--ion-tabs class="tabs-icon-top tabs-calm">

      <ion-tab title="sessions" icon="ion-home" href="#/tab1/se">
        <ion-nav-view name="tab-sessions"></ion-nav-view>
      </ion-tab>

      <ion-tab title="team sessions" icon="ion-gear-a" href="#/tab1/teamsessions" >
        <ion-nav-view name="tab-teamsessions"></ion-nav-view>
      </ion-tab>

     

    </ion-tabs-->
	
	
	</ion-content>
 <ion-footer-bar class="bar bar-footer" align-title="center">
		<h1 class="title" style="font-size:18px !important;">&copy; Miracle’s Software Systems</h1>
	</ion-footer-bar>	
</ion-view>