<ion-view title="updates">
<ion-header-bar align-title="left" class="bar-calm">
<a href="#/conf1" class="button button-icon icon icon ion-arrow-left-c"></a>
 <h1 class="title"><center>Notifications</h1>
 
</ion-header-bar>
 
  <ion-content class="padding">

    <form name="myForm">

<div class="list">

    <a class="item item-thumbnail-left" href="#/app/notification1">
       <img src="img/contact.png">
     
      <p>you are to added to IBM confernce</p>
	  <p>show more ...</p>
	  <p> 11:45am by Rsharma</p>
    </a>
	 <a class="item item-thumbnail-left" href="#">
       <img src="img/contact.png">
      <p>you are to added to technical conference </p>
      <p>show more ...</p>
	  <P>2:30pm by Vvoona</p>
    </a>
	 <a class="item item-thumbnail-left" href="#">
       <img src="img/contact.png">
      <p>you are to added to IoT demo meeting in Utilize IoT </p>
      <p>show more ...</p>
	  <p> 11:45am by Rsharma</p>
    </a>

</div>

    </form>
  </ion-content>
 <ion-footer-bar class="bar bar-footer" align-title="center">
		<h1 class="title" style="font-size:18px !important;">&copy; Miracle’s Software Systems</h1>
	</ion-footer-bar>
</ion-view>