<ion-view view-title="Sessions">
	<!-- navgiation buttons -->
	<ion-nav-buttons side="right">
		<a class="button white-text" id="headerButton" href="#/app/add_session">
        ADD
      </a>
	</ion-nav-buttons>
	<div class="tabs-striped tabs-top tabs-background-calm tabs-color-light">
		<div class="tabs">
			<a class="tab-item active" href="#/app/usersessions">
        user sessions
      </a>
			<a class="tab-item " href="#/app/teamsessions">
       team sessions
      </a>

		</div>
	</div>
	<ion-content>

		<br><br>
		<div class="list">
			<a class="item item-icon-left item-icon-right" href="#/app/view_session" ng-repeat="item in user_sessions">
				<i class="icon ion-calendar"></i>

				<h2 class="list-title">{{item.name }}</h2>
	{{item.date}} 
 	
				<i class="icon ion-chevron-right"></i>
			</a>
		</div>
	</ion-content>
	<ion-footer-bar class="bar bar-footer" align-title="center">
		<h1 class="title" style="font-size:18px !important;">&copy; Miracle’s Software Systems</h1>
	</ion-footer-bar>
</ion-view>
