<ion-view view-title="Conferences">

	<ion-content>
		<br><br>
		<div class="list">
			<a class="item item-avatar item-icon-left item-icon-right" href="#/app/userdashboard" ng-repeat="item in user_conflist">
				<i class="icon ion-calendar"></i>

				<h2 class="list-title">{{item.details.conference_name}}</h2>
				<p>{{item.details.conference_fromDate}} - {{item.details.conference_toDate}}</p>
				<i class="icon ion-chevron-right"></i>
			</a>
		</div>
	</ion-content>
	<ion-footer-bar class="bar bar-footer" align-title="center">
		<h1 class="title" style="font-size:18px !important;">&copy; Miracle’s Software Systems</h1>
	</ion-footer-bar>
</ion-view>
