<ion-view title="Conference Dashboard">

  <ion-content class="background">

    <div id="welcomeScreen" class="item item-text-wrap text-center">
      <h2>{{conferenceData.details.conference_location}}</h2><br>
      <p class="text-white"><i class="icon ion-calendar"></i>{{ conferenceData.details.conference_fromDate}} &nbsp;-&nbsp; <i class="icon ion-calendar"></i>{{ conferenceData.details.conference_toDate}}</p>
    </div>
	<div class="item item-text-wrap text-center">
		<h2 class="bold">Categories</h2>
	</div>
	<div class="item item-text-wrap text-center">
		<div class="row">
			<div class = "col col-30">
						<a class="icon-circle" href="#/app/viewConferenceDetails">
							<i class="icon ion-calendar"></i>
						</a>
						<p><a href="#/app/viewConferenceDetails" class="darkText">View <br>conference details</a></p>
			</div>
			<!--div class = "col col-30">
						<a class="icon-circle" href="#/app/agenda">
							<i class="icon ion-calendar"></i>
						</a>
						<p class="darkText"><a href="#/app/agenda" class="darkText">agenda</a></p>
			</div-->
			<div class = "col col-30">
						<a class="icon-circle" href="#/app/confspeakers">
							<i class="icon ion-ios-book"></i>
						</a>
						<p class="darkText"><a href="#/app/confspeakers" class="darkText">Speaker <br>Details</a></p>
			</div>
		<div class = "col col-30">
						<a class="icon-circle" href="#/app/usersessions">
							<i class="icon ion-archive"></i>
						</a>
						<p class="darkText"><a href="#/app/usersessions" class="darkText">Session<br> Updates</a></p>
			</div>
		</div>
		<br>
		<div class="row">

			<div class = "col col-30">
						<a class="icon-circle" href="#/app/upcomings">
							<i class="icon ion-ios-people"></i>
						</a>
						<p class="darkText"><a href="#/app/upcomings" class="darkText">Manage<br> Meetings</a></p>
			</div>
			<div class = "col col-30">
						<a class="icon-circle" href="#/app/newattendee">
							<i class="icon ion-ios-people"></i>
						</a>
						<p class="darkText"><a href="#/app/newattendee" class="darkText">Add<br> Attendees</a></p>
			</div>

			<div class = "col col-30">
						<a class="icon-circle" href="#/app/view_newattendee">
							<i class="icon ion-ios-people"></i>
						</a>
						<p class="darkText"><a href="#/app/view_newattendee" class="darkText">view<br> Attendees</a></p>
			</div>
		</div>
	</div>
	</ion-content>
  <ion-footer-bar class="bar bar-footer" align-title="center">
    <h1 class="title" style="font-size:18px !important;">Powered By Miracle Innovation Labs</h1>
  </ion-footer-bar>
</ion-view>
