
<ion-view view-title="Meeting">
	<!-- navgiation buttons -->
	<ion-nav-buttons side="right">
      <a class="button white-text" id="headerButton" href="#/app/assignemployee">
        ADD
      </a>
	</ion-nav-buttons>
	<ion-content>
     
  <ion-item ng-repeat="item in view_meeting">
     <br>
	 
	 Purpose:{{item.purpose }}
     <br>
	 Location:{{item.location}}  
	 <br>
	Date:{{item.date}}
	 <br>
	Time:{{item.time}}
	 
      </ion-item>
	<div class="list">
	<label class="item item-input item-stacked-label">
			<span class="input-label">Meeting notes</span>
			<textarea placeholder="Enter meeting notes" rows=4></textarea>
		</label>
		<button class="button button-calm button-block" value="Add">Add</button>
		</div>
	</ion-content>
   
  <ion-footer-bar class="bar bar-footer" align-title="center">
		<h1 class="title" style="font-size:18px !important;">&copy; Miracle’s Software Systems</h1>
	</ion-footer-bar>
</ion-view>
