<ion-view view-title "{{ conferenceData.details.conference_name}}">

	<ion-content>
		<div id="welcomeScreen" class="item item-text-wrap text-center">
			<h2>{{conferenceData.details.conference_location}}</h2><br>
			<p class="text-white"><i class="icon ion-calendar"></i>{{ conferenceData.details.conference_fromDate}} &nbsp;-&nbsp; <i class="icon ion-calendar"></i>{{ conferenceData.details.conference_toDate}}</p>
		</div>

		<div class="conference-row">

			<div class="row-heading move-top">
				<a class="pull-right roundedButtons-small text-white"><i class="icon ion-edit"></i></a>
				<h3 class="text-light-blue extra-padding container extra-padding">Description</h3>
			</div>
			<div class="extra-padding container">
				<p>{{ conferenceData.details.conference_description}}</p>
			</div>
		</div>
		<div class="conference-row">
		<div class="row-heading">
			<a class="pull-right roundedButtons-small text-white"><i class="icon ion-edit"></i></a>

					<h3 class="text-light-blue extra-padding container extra-padding">Agenda</h3>
		</div>
		<div class="conference-item">
			<div class="row-heading move-top">
					<h4 class="extra-padding container extra-padding">2:00 PM, Tuesday, Sept 6th</h4>

			</div>
			<div class="extra-padding container">
						<p>Description about agenda</p>
			</div>
		</div>
		<div class="conference-item">
			<div class="row-heading move-top">
					<h4 class="extra-padding container extra-padding">2:00 PM, Tuesday, Sept 6th</h4>

			</div>
			<div class="extra-padding container">
						<p>Description about agenda</p>
			</div>
		</div>
	</div>

	</ion-content>

</ion-view>
