
<ion-view view-title="Meetings">
	<!-- navgiation buttons -->
	<ion-content>
    <div class="list">
  		<div href="#">
  			<label class="item item-input">
  				<i class="icon ion-search placeholder-icon"></i>
  				<input type="text" placeholder="Search">
  			</label>
  		</div>
  		<a class="item item-avatar item-icon-left item-icon-right" href="#/app/viewConference">
  			<i class="icon ion-calendar"></i>

  			<h2 class="list-title">Meeting Name</h2>
  			<p> 12-2-2017 - 14-2-2017</p>
  			<i class="icon ion-chevron-right"></i>
  		</a>
  		<a class="item item-avatar item-icon-left item-icon-right" href="#/app/viewConference">
  			<i class="icon ion-calendar"></i>
  			<h2 class="list-title">Meeting Name</h2>
  			<p> 12-2-2017 - 14-2-2017</p>
  			<i class="icon ion-chevron-right"></i>
  		</a>
  		<a class="item item-avatar item-icon-left item-icon-right" href="#/app/viewConference">
  			<i class="icon ion-calendar"></i>
  			<h2 class="list-title">Meeting Name</h2>
  			<p> 12-2-2017 - 14-2-2017</p>
  			<i class="icon ion-chevron-right"></i>
  		</a>
  		<a class="item item-avatar item-icon-left item-icon-right" href="#/app/viewConference">
  			<i class="icon ion-calendar"></i>
  			<h2 class="list-title">Meeting Name</h2>
  			<p> 12-2-2017 - 14-2-2017</p>
  			<i class="icon ion-chevron-right"></i>
  		</a>
  		<a class="item item-avatar item-icon-left item-icon-right" href="#/app/viewConference">
  			<i class="icon ion-calendar"></i>
  			<h2 class="list-title">Meeting Name</h2>
  			<p> 12-2-2017 - 14-2-2017</p>
  			<i class="icon ion-chevron-right"></i>
  		</a>

  	</div>
  	<br>
  </ion-content>
  <ion-footer-bar class="bar bar-footer" align-title="center">
		<h1 class="title" style="font-size:18px !important;">&copy; Miracle’s Software Systems</h1>
	</ion-footer-bar>
</ion-view>
