
<ion-view view-title="New Attendee Details">
	
	<ion-content>
     
  <ion-item>
     <br>
	 
	 Attendee name:{{view_newattendee.newattendee_name }}
     <br>
	Attendee phone no:{{view_newattendee.newattendee_phoneno}}  
	 <br>
	Company:{{view_newattendee.newattendee_company}}
	 <br>
	Designation:{{view_newattendee.newattendee_designation}}
	<h1>Sale contact</h1>
	<br>
	Name:{{view_newattendee.person_name}} 
	<br>
	Field:{{view_newattendee.person_field}} 
	<br>
	Contact:{{view_newattendee.person_contact}} 
	 
      </ion-item>
	
	</ion-content>
   
  <ion-footer-bar class="bar bar-footer" align-title="center">
		<h1 class="title" style="font-size:18px !important;">&copy; Miracle’s Software Systems</h1>
	</ion-footer-bar>
</ion-view>
