.icon {
  padding: 5px;
}

.col p {
  font-size: 13px;
}

.row {
  margin-top: 20px;
}

.background {
  background: #eee
}

.item-divider {
  background: #0d416b;
  color: #fff;
}

.item-divider h2 {
  color: #fff;
  font-weight: bold;
}
.onfocus:before{

}
.onfocus:after{
	label:hover{
		background:red
	}
}

.headerBackground {
  background: #ef4048
}

#welcomeScreen {
  background: #232527;
  background-image: url('/img/banner16.png');
  padding: 60px;
}

#welcomeScreen h2 {
  font-size: 25px;
  color: #fff;
}

.bold {
  font-weight: bolder
}

.icon-circle, .icon-circle-large, .icon-circle-small {
  position: relative;
  display: inline-block;
  margin: 0px;
  padding: 5px;
  width: 45px;
  height: 45px;
  font-size: 30px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 100%;
  border: 1px solid #ebebeb;
  background: rgb(0, 161, 225);
  color: #fff;
  text-align: center;
  /* vertical-align: middle; */
}

.icon-circle-large {
  width: 100px;
  height: 100px;
  font-size: 64px;
  /* 64, originally 60 */
  padding: 16px;
}

.icon-circle-small {
  width: 24px;
  height: 24px;
  font-size: 20px;
}


/*.icon-circle i, .icon-circle-small i, .icon-circle-large i { vertical-align: middle; }*/

.icon-circle-outline {
  border: 1px solid rgb(0, 161, 225);
  background: transparent;
  color: rgb(0, 161, 225);
  /*color: #8a6de9;*/
}

.icon-circle-outline i {}


/*icon-circle-bg and icon-circle and circle-bg*/


/*http://davidwalsh.name/css-circles*/

.item-icon-circle {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  /* width and height can be anything, as long as they're equal */
  text-align: center;
  color: white;
  /* font size here wont work */
}

.item-icon-circle i {
  /*text-align:center;
  color:white;*/
  /*margin: 0px auto;
  padding: 0px;
  display:block;*/
}

body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

.bg-circle-alt {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.bar-footer {
  background: #232527;
  color: #fff;
  position: fixed;
  bottom: 0px;
}

.bar-footer .title {
  color: #fff
}

#headerButton {
  background: #0d416b;
  font-weight: bolder
}

a {
  text-decoration: none;
}

.white-text {
  color: #fff
}

.list-title {
  color: #0d416b;
  font-weight: bolder;
}

.no-border {
  border: 0px
}

.loginBackground {
  background: url('/img/home_background.png');
  width: 100% !important;
  height: 100% !important
}

.roundedButtons {
  border-radius: 50px;
  padding-left: 40px;
  padding-right: 40px
}
.roundedButtons-small{
	padding:3px;
	border-radius:20px;
  background-color:#2368a0;
  margin-top:8px;
  margin-right:10px;
}
.container {
  padding-left: 20px;
  padding-right: 20px
}

.button-transparent {
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
}

.text-light-blue {
  color: #00aae7
}

.text-dark-blue {
  color: #23680
}
.dark-background{
	background-color: #23680 !important;
}
.text-white {
  color: #fff !important
}

.login-logo {
  width: 150px;
}

.login-buttons {
  margin-top: 10px;
}

.no-border {
  border: 0px
}

.checkbox {
  margin-left: -10px;
  color: #bababa
}

.darkText {
  color: #232527
}

.background-transparent {
  background: transparent;
  border: 0px
}
.rounded-transparent-input{
	background: transparent;
border: 2px solid #fff;
color:#fff;
}
.white-border{
	border: 2px solid #fff;
	border-radius:30px;
}
*::-webkit-input-placeholder {
  color: #fff !important;
	font-weight:bold
}
*:-moz-placeholder {
  color: #fff !important;
	font-weight:bold
}
*:-ms-input-placeholder { /* IE10+ */
  color:#fff;
	font-weight:bold
}
/*input[type=text]{
	color:#fff
}*/
.no-padding{
	padding:0px
}
.left-margin{
	margin-left:auto
}
label > input[type=text]:hover{
	color:black;
}
.dashboardItem{
  margin-top:10px;
}
/** conference data  **/
.row-heading{
	width:100%;
	background:#eee;
}
.extra-padding{
	padding:10px;
}
.pull-right{
	float:right
}
.pull-left{
	float:left;
}
.move-top{
	margin-top:-10px
}
.image-upload >input
{
    display: none;
}
.image-resize{
     width: 50% !important;
    height: 50%;
    
}
.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.image-modal {
    width: 100% !important;
    height: 100%;
    
}